table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navegacao {
    display: flex;
    justify-content: center;
}

.navegacao ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

.navegacao ul li {
    display: inline;
}